@import './constants.scss';

.wallpaper {
  position: absolute;
  width: 110%;
  height: 130%;
  top: -25%;
  left: -5%;
  z-index: -1;
}

.biomeText {
  display: flex;
  position: absolute;
  color: $zinc-50;
  background-color: rgba($zinc-800, 0.8);
  text-shadow: 1px 1px 1px $zinc-900;
  box-shadow: 1px 1px 4px $zinc-900;
  text-transform: uppercase;
  width: 164px;
  height: 48px;
  bottom: 2%;
  left: 2%;
}

.biomeIcon {
  width: 36px;
  height: 36px;
  margin: auto 4px;
  border-radius: 4px;
}

.biomeName {
  margin: auto;
}