@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin: auto;
}

.enemyImage {
  width: 35%;
  padding: 4px;
  margin: auto auto 0 auto;
  cursor: pointer;
  -webkit-touch-callout: none;
}

.enemyImage:active {
  padding: 0;
}

.enemyName {
  text-transform: uppercase;
  margin: 4px auto;
  padding: 0.5rem;
  color: $zinc-50;
  border-radius: 4px;
  text-shadow: 1px 1px 1px $zinc-900;
  box-shadow: 1px 1px 4px $zinc-900;
  background-color: rgba($zinc-800, 0.8);
}

.enemyLevel {
  margin: 0 auto;
}

.healthBarWrapper {
  width: 100%;
  max-width: 320px;
  height: 2rem;
  background-color: rgba($zinc-900, 0.6);
  box-shadow: 1px 1px 4px $zinc-800;
  border-radius: 16px;
  margin: 4px auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 2rem;
  border-radius: 16px;
  background-color: $red-500;
  transition: width 100ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px rgba($zinc-800, 0.5);
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
}

.type {
  padding: 0.25rem 1rem;
  margin: 2px;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px $zinc-800;
  text-shadow: 1px 1px 1px $zinc-900;
}

@media screen and (max-width: 960px) {
  .container {
    height: 40%;
    margin: 0 auto 0;
  }

  .enemyImage {
    width: 50%;
    padding: 2px;
  }
}