.container {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: none;
  margin: auto;
  width: 75%;
  height: 100vh;
}

.enemyImage {
  width: 20%;
  padding: 4px;
  margin: auto auto 0 auto;
  cursor: pointer;
}

.enemyImage:active {
  padding: 0;
}

.enemyName {
  text-transform: uppercase;
  margin: 0 auto 0 auto;
}

.enemyLevel {
  margin: 0 auto 0 auto;
}

.healthBarWrapper {
  width: 100%;
  max-width: 360px;
  height: 2rem;
  background-color: gray;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
  border-radius: 16px;
  margin: 0 auto auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 2rem;
  border-radius: 16px;
  background-color: red;
  transition: width 200ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}