@import './constants.scss';

.floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $cyan-700;
  height: 48px;
  width: 48px;
  padding: 1rem;
  margin: auto 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
  transition: filter 200ms ease;
}

.floor:hover {
  filter: brightness(110%);
}

.currentFloor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $cyan-500;
  height: 48px;
  width: 48px;
  padding: 1rem;
  margin: auto 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.iconContainer {
  display: flex;
}