@import './constants.scss';

.container {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0.5rem auto;
  padding: 1rem;
  background-color: rgba($zinc-800, 0.9);
  box-shadow: 1px 1px 4px $zinc-900;
  text-shadow: 1px 1px 1px rgba($zinc-900, 0.5);
  border-radius: 8px;
  position: relative;
}