.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  text-shadow: none;
  color: black;
  height: 100vh;
  width: 75%;
}

.row {
  display: flex;
}

.spacer {
  margin: auto 1rem;
  padding: 1rem;
  width: 128px;
  height: 64px;
}

.enemiesLeft {
  margin: auto auto 0;
}