@import './constants.scss';

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  text-shadow: none;
  color: $zinc-900;
  height: 100vh;
  width: 75%;
}

.row {
  display: flex;
}

.spacer {
  margin: 0.5rem;
  padding: 1rem;
  width: 164px;
  height: 64px;
}

.enemiesLeft {
  margin: auto auto 0;
  text-transform: uppercase;
}

.exitButton {
  width: fit-content;
  margin: auto 2px auto auto !important;
  background-color: $red-700 !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.exitButton:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .spacer {
    display: none;
  }

  .enemiesLeft {
    margin: 0 auto;
  }
}