@import './constants.scss';

.container, .column, .row {
  display: flex;
}

.column {
  flex-direction: column;
  text-shadow: none;
  color: $zinc-900;
  height: 100vh;
  width: 75%;
  overflow: hidden;
  position: relative;
}

.enemiesLeft {
  margin: auto auto 0;
  text-transform: uppercase;
  padding: 0.5rem;
  color: $zinc-50;
  border-radius: 4px;
  text-shadow: 1px 1px 1px $zinc-900;
  box-shadow: 1px 1px 4px $zinc-900;
  background-color: rgba($zinc-800, 0.8);
}

.exitButton {
  width: fit-content;
  margin: auto 2px auto auto !important;
  background-color: $red-700 !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.exitButton:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .enemiesLeft {
    margin: 0 auto;
  }
}