@import './constants.scss';

.optionSelected {
  background-color: $cyan-500 !important;
  border-radius: 0px !important;
  width: calc(100% / 5);
}

.option {
  background-color: $cyan-700 !important;
  border-radius: 0px !important;
  width: calc(100% / 5);
}

.option:hover {
  filter: brightness(110%);
}