@import './constants.scss';

.optionSelected, .option {
  border-radius: 0px !important;
  width: calc(100% / 5) !important;
  min-width: calc(100% / 5) !important;
}

.optionSelected {
  background-color: $cyan-500 !important;
}

.option {
  background-color: $cyan-700 !important;
}

.option:hover {
  filter: brightness(110%);
}