@import './constants.scss';

.optionSelected {
  background-color: $cyan-500 !important;
  border-radius: 0px !important;
}

.option {
  background-color: $cyan-700 !important;
  border-radius: 0px !important;
}

.option:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px){
  .option, .optionSelected {
    width: calc(100% / 5);
  }
}