@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(27, 27, 27);
}

.topRow {
  display: flex;
}

.pokemonImage {
  width: 15%;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 4px;
}

.pokemonName {
  text-transform: uppercase;
}

.pokemonLevel {

}

.bottomRow {
  display: flex;
}

.healthBarWrapper {
  width: 90%;
  margin: 4px;
  height: 1.5rem;
  background-color: gray;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
  border-radius: 16px;
  margin: auto 8px auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 1.5rem;
  border-radius: 16px;
  background-color: $btn-exit;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 27%);
  transition: width 200ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.healButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  background-color: rgba($btn-play, 0.8) !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.healButton:hover {
  filter: brightness(105%);
}