@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: none;
  background-color: rgba(rgb(200, 200, 200), 0.5);
  padding: 0.5rem;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
}

.topRow {
  display: flex;
}

.pokemonImage {
  width: 15%;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.pokemonName {
  text-transform: uppercase;
}

.pokemonLevel {

}

.bottomRow {
  display: flex;
}

.healthBarWrapper {
  width: 90%;
  margin: 4px;
  height: 1.5rem;
  background-color: gray;
  border-radius: 16px;
  margin: auto 8px auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 1.5rem;
  border-radius: 16px;
  background-color: red;
  transition: width 600ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.healButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
}