@import './constants.scss';

.overlay {
  display: flex;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}

.wrapper {
  display: flex;
  height: min(80%, 600px);
  width: min(90%, 1000px);
  margin: auto;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 100;
  background-color: $bg-secondary;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
  padding: 1rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.regionTitle {
  text-transform: uppercase;
  margin: 0 auto;
}

.starters {
  display: flex;
  flex-wrap: wrap;
  width: min(100%, 720px);
  margin: 4px auto;
}

.rightContainer {
  width: 20%;
  height: 100%;
  overflow: auto;
}

.pokedexEntry {
  display: flex;
  align-items: center;
  margin: 2px auto;
  text-transform: uppercase;
}

.pokedexImage {
  width: 27px;
  margin: auto 4px auto 0px;
}

.buttonContainer {
  display: flex;
  width: 100%;
}

.exitButton {
  width: fit-content;
  margin: auto 4px auto auto !important;
}

.playButton {
  width: fit-content;
  margin: auto auto auto 4px !important;
}