@import './constants.scss';

.overlay {
  display: flex;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($zinc-900, 0.9);
}

.wrapper {
  display: flex;
  height: min(100%, 600px);
  width: min(100%, 1000px);
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 999;
  background-color: $zinc-800;
  border-radius: 8px;
  box-shadow: 2px 2px 4px $zinc-900;
  padding: 1rem;
  overflow: hidden;
}

.teamHeader {
  margin: 0 auto 0.25rem 4px;
}

.teamWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 1rem;
}

.regionTitle {
  text-transform: uppercase;
  margin: 0 auto;
}

.topRow {
  display: flex;
  margin: 1rem auto;
}

.currency, .highestFloor {
  margin: auto 1rem;
  background-color: rgba($sky-500, 0.3);
  box-shadow: 0px 0px 8px rgba($slate-900, 0.8);
  padding: 1rem;
  border-radius: 8px;
}

.starters {
  display: flex;
  width: min(100%, 640px);
  margin: auto;
}

.statsAndTypes {
  display: flex;
  width: fit-content;
  margin: auto;
}

.stats {
  display: flex;
  flex-direction: column;
  margin: auto 0px auto auto;
  padding: 0.25rem 1rem;
}

.stat {
  display: flex;
}

.statBarWrapper {
  width: 100%;
  max-width: 200px;
  margin: 4px;
  height: 1.7rem;
  background-color: rgba($zinc-100, 0.5);
  border-radius: 16px;
  box-shadow: 1px 1px 4px $zinc-900;
}

.statBar {
  display: flex;
  padding: 4px;
  max-width: 200px;
  min-width: 40px;
  height: 1.7rem;
  border-radius: 16px;
  transition: width 600ms ease-in-out;
}

.statName {
  margin: 4px;
  padding: 4px;
  width: 200px;
  height: 1.7rem;
  text-align: right;
}

.statValue {
  width: 100%;
  margin: auto 4px;
  text-align: right;
  color: $zinc-100;
}

.typesAndSelected {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.25rem 1rem;
}

.types {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 4px;
  margin: auto 2px;
  text-transform: uppercase;
}

.selectedPokemonName {
  text-transform: uppercase;
  margin: 0 auto;
}

.selectedPokemonImage {
  width: 148px;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  width: 100%;
  padding: 0 1rem 0 0;
}

.exitButton, .playButton {
  width: fit-content;
  text-shadow: 1px 1px 1px $zinc-900;
}

.exitButton {
  margin: auto 2px auto auto !important;
  background-color: $red-700 !important;
}

.playButton {
  margin: auto auto auto 2px !important;
  background-color: $emerald-600 !important;
}

.exitButton:hover, .playButton:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 1300px) {
  .container {
    flex-direction: column;
    overflow: auto;
  }
}

@media screen and (max-width: 960px) {
  .statsAndTypes {
    flex-direction: column;
    margin: 0 auto;
  }

  .starters {
    margin: 1rem auto 0;
  }

  .wrapper {
    height: 100%;
  }

  .buttonContainer {
    order: 1;
    margin: 1rem auto auto;
  }
}