@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 240px;
  border-radius: 8px;
  filter: brightness(50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 4px auto;
  overflow: hidden;
}

.container:hover {
  filter: brightness(75%);
}

.containerSelected {
  display: flex;
  flex-direction: column;
  width: 205px;
  height: 245px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 4px auto;
  overflow: hidden;
}

.cardImage {
  width: 90%;
  margin: auto;
}

.cardName {
  margin: auto;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 0;
}

@media screen and (max-width: 960px) {
  .container {
    width: 30%;
    height: fit-content;    
    margin: 4px auto;
  }

  .cardName {
    font-size: 0.8rem;
  }

  .containerSelected {
    width: 31%;
    height: fit-content;    
    margin: 4px auto;
  }
}