.wrapper {
  width: 260px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.27);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  width: 258px;
  height: 298px;
  position: absolute;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper:hover {
  filter: brightness(105%);
}

.bulbasaur-spinner:hover:before, .bulbasaur-spinner:active:before, .bulbasaur-spinner:focus:before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  background-image: conic-gradient(
    #58cb1f 20deg, 
      transparent 120deg
  );
  left: -25%;
  top: -25%;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  100% {
      transform: rotate(-360deg);
  }
}

.cardImage {
  width: 196px;
  margin: auto;
}

.cardName {
  margin: auto;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 260px;
    height: 300px;
    margin: 4px auto;
  }

  .card {
    width: 258px;
    height: 298px;
  }
}