.container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.container:hover {
  filter: brightness(105%);
}

.cardImage {
  width: 196px;
  margin: auto;
}

.cardName {
  margin: auto;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .container {
    margin: 4px auto;
  }
}