@import './constants.scss';

.container {
  display: flex;
  height: calc(90% / 6);
  width: 100%;
  padding: 0.5rem;
  background-color: rgba($sky-500, 0.2);
  border-bottom: 1px solid $zinc-900;
  cursor: pointer;
}

.container:hover {
  background-color: rgba($sky-500, 0.4);
}

.image {
  width: 25%;
  margin: auto 0 auto 0;
  -webkit-touch-callout: none;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 4px;
}

.pokemonName {
  text-transform: uppercase;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto 8px auto auto;
}

.buttonContainerRow {
  display: flex;
  margin: auto auto 0;
}

.swapButton, .releaseButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  margin: auto !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.swapButton {
  background-color: $teal-600 !important;
}

.releaseButton {
  background-color: rgba($red-700, 0.9) !important;
}

@media screen and (max-width: 960px) {
  .container {
    width: calc(100vw - 4px);
    height: 65%;
    margin: 4px;
  }

  .buttonContainerRow {
    flex-direction: column;
    margin: auto;
  }

  .swapButton {
    margin: auto auto 2px auto !important;
  }

  .releaseButton {
    margin: 2px auto auto auto !important;
  }

  .image {
    display: none;
  }
}