@import './constants.scss';

.container {
  display: flex;
  padding: 0.5rem;
  height: calc(100% / 6);
  border-bottom: 1px solid $zinc-900;
  background-color: rgba($sky-500, 0.2);
  cursor: pointer;
}

.container:hover {
  background-color: rgba($sky-500, 0.3);
}


.container:first-child {
  background-color: rgba($sky-500, 0.4);
}

.container:first-child:hover {
  background-color: rgba($sky-500, 0.5);
}

.leftCol, .rightCol {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.leftCol {
  width: 25%;
}

.textCol {
  display: flex;
  flex-direction: column;
}

.rightCol {
  width: 75%;
}

.topRow {
  display: flex;
  margin: auto;
}

.pokemonImage {
  width: 21%;
  margin: auto 0;
  -webkit-touch-callout: none;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 4px;
}

.pokemonName {
  text-transform: uppercase;
}

.bottomRow {
  display: flex;
}

.healthBarWrapper {
  width: 90%;
  margin: 4px;
  height: 1.5rem;
  background-color: rgba($slate-400, 0.7);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
  border-radius: 16px;
  margin: auto 8px auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 1.5rem;
  border-radius: 16px;
  background-color: $red-500;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 27%);
  transition: width 200ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px $zinc-900;
}

.healButton, .swapButton, .levelButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.healButton {
  background-color: $emerald-600 !important;
}

.swapButton {
  margin: auto 0px auto auto !important;
  background-color: $teal-600 !important;
}

.levelButton {
  width: 100%;
  height: 100%;
  background-color: $cyan-600 !important;
}

.healButton:hover, .swapButton:hover, .levelButton:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px) {
  .container {
    height: 100%;
    min-width: 100vw;
  }
}