@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: calc(100% / 6);
  border-bottom: 1px solid $zinc-900;
  background-color: rgba($sky-500, 0.2);
}

.container:first-child {
  background-color: rgba($sky-500, 0.4);
}

.topRow {
  display: flex;
  margin: auto;
}

.pokemonImage {
  width: 15%;
  margin: auto 0;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 4px;
}

.pokemonName {
  text-transform: uppercase;
}

.bottomRow {
  display: flex;
}

.healthBarWrapper {
  width: 90%;
  margin: 4px;
  height: 1.5rem;
  background-color: rgba($slate-400, 0.7);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
  border-radius: 16px;
  margin: auto 8px auto auto;
  position: relative;
  overflow: hidden;
}

.healthBar {
  display: flex;
  height: 1.5rem;
  border-radius: 16px;
  background-color: $red-500;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 27%);
  transition: width 200ms ease-in-out;
}

.healthValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px $zinc-900;
}

.healButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  background-color: $emerald-600 !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.swapButton {
  width: fit-content;
  height: fit-content;
  padding: 0 !important;
  margin: auto 0px auto auto !important;
  background-color: $teal-600 !important;
  text-shadow: 1px 1px 1px $zinc-900;
}

.healButton:hover, .swapButton:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 960px) {
  .container {
    height: 100%;
    width: 50%;
  }
}