@import './constants.scss';

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 999;
}

.tooltip {
  color: $zinc-800;
}

.icon {
  cursor: pointer;
  margin: 4px auto;
}

.icon:hover {
  color: $zinc-100;
}